/* estilização base*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
}
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{
    color: white;
    background-color: 	#363636;
}
header, footer{
    width: 100%;
    padding: 10px 0;
}

a{
    text-decoration: none;
    color: #3D2A83;
}

header a:hover, footer a:hover{
    transform: translateY(-2px) ;
    box-shadow:0 2px 2px #666;
}
/* header */

header{
    box-shadow: 0px 5px 1px lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-cabecalho{
    display: flex;
    justify-content: space-around;
    width: 15%;
}

/* footer */

footer{
    box-shadow: 0px -10px 1px darkgray;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
footer p{
    color: #a2a2a2;
}

.redes-sociais, .nav-rodape{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#projetos-rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos-rodape{
    margin: 5px 0;
}

#descricao-rodape{
    margin-top: 5%;
    grid-row: 2/span 1;
    grid-column: 1 / span 3;
}

#redes-sociais-rodape{
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#nav-rodape{
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#nav-rodape a{
    align-self: flex-end;
}

.nav-rodape{
    align-items: flex-end;
}

#descricao-rodape{
    text-align: center;
}

.redes-sociais div{
    display: flex;
}

.icone-redes-sociais{
    width: 25px;
    margin: 0 5px;
}